.article{
    margin: 30px 0;
}

.article .title{
    border-left: 6px solid gainsboro;
    height: 45px;
    line-height: 45px;
    font-size: 30px;
    padding-left: 5px;
}
.article .meta{
    margin-top: 10px;
    font-size: 16px;
}
.article .meta span{
    color: #AAAAAA;
}

.article .meta span a{
    color:#ffffff;
    display: inline-block;
    padding: 0 3px;
    margin-right: 7px;
    background-color: #AAAAAA;
}
.article .content{
    margin-top: 30px;
    line-height: 1.8em;
    font-size: 16px;
    color: #5a5a5a;
}
