*{
    margin: 0;padding: 0;
}
a{
    color: black;
    outline: medium none;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei",sans-serif;font-size: 14px;line-height: 1.6;background: none repeat scroll 0 0 #FFFAFA;color: #303030;
}
.header{
    height: 70px;
    background: #303030;
    padding: 10px 0 0;
}
.header #web-title{
    width: 1000px;margin: 0 auto;
    font-size: 240%;
    color: #FFFFFF;
}
.nav{
    width: 1000px;margin: 0 auto;
    height: 30px;
}
.nav ul{margin-top: 5px;}
.nav ul li{
    float: left;
    list-style: none outside none;
    line-height: 30px;
    font-weight: bolder;
    font-size: 150%;
}

.sep{
    color: #ABABAB;
    margin: 0 10px;
}
.footer{
    margin-top: 25px;
    height: 30px;
    line-height: 30px;
    background: none repeat scroll 0 0 #303030;
    color: #ffffff;
}

.footer p{
    float: right;margin-right: 50px;
}
.main{
    width: 1000px;margin: 0 auto;
    margin-top: 30px;
    min-height: 400px;
    background-color: #ffffff !important;
}

#tag-cloud{
    background-color: #f0f0f0;
    border: 1px dashed #ccc;
    margin: 0 0 20px 0;
}

#tag-cloud:after {
    content: "."; display: block; height: 0; clear: both; visibility: hidden;
}
#tag-cloud a{
    background-color: #303030;
    color: #fff;
    display: block;
    float: left;
    line-height: 1.2em;
    margin: 6px 10px;
    padding: 3px;
}